# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*.user
*.ncb
*.log
*.suo
*/Release/
*/Debug/
debug/
release/
wscardaxcstest/obj/
zsutils/zsutils.h
zsutils/zsutils.tlb
zsutils/zsutils_i.c
zsutils/zsutils_p.c
*/*.aps
*/*.tlb
.vs/
*/.vs/
#*/.vscode/
#.vscode/
lib/*/
build/*
*/build/*
doc/*